body
{
    background: #9DB7D2;
    background: -webkit-linear-gradient(to left, #9DB7D2, #004E98);
    background: linear-gradient(to left, #9DB7D2, #004E98);
    font-family: 'Segoe UI', sans-serif;
    font-size: 15pt;
}
table
{
    width: 100%;
}
@media screen and (min-width: 1007px) {
    table
    {
        width: 80%;
    }
}
@media screen and (min-width: 1263px) {
    table
    {
        width: 60%;
    }
}
@media screen and (min-width: 1903px) {
    body
    {
        zoom: 1.25;
    }
}
@media screen and (min-width: 3823px) {
    body
    {
        zoom: 2.5;
    }
}
td.osname
{
    background-color: #808080;
    color: #FFFFFF;
}
td.eosdate
{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    width: 85px;
}
td.date
{
    width: 150px;
}
td.eos
{
    background-color: #C0C0C0;
    text-align: center;
}
p
{
    color: #FFFFFF;
    font-size: 11pt;
}
p a:link, p a:visited, p a:hover, p a:active
{
    color: #FFFFFF;
    text-decoration: none;
}